<div class="auto-gen-container" 
  data-controller="color-pallete-gen"
  data-color-pallete-gen-url-value="<%= app_ui_settings_path %>">
  <div>
    <input name="primary" type="text" data-coloris 
      data-action="color-pallete-gen#gen"
      value="<%= @internal_app_color_scheme.primary %>">
    <span> Select primary color </span>
  </div>
</div>