<div class="large-container">
  <h1> Manage app UI settings </h1>
  <p> If you're tired of the theme of our app's system ( not related to your UI library ) </p>
  
  <div class="switch-type-section">
    <%= link_to "Auto gen", url_for(type: "auto_gen"), class: "toggle-link" %>
    <%= link_to "Manual select", url_for(type: "manual_select"), class: "toggle-link" %>
  </div>

  <% if @type == "manual_select" %>
    <%= render "manual_select" %>
  <% end %>

  <% if @type == "auto-gen" %>
    <%= render "auto_gen" %>
  <% end %>
</div>