<div class="large-container">
  <h1> Manage app UI settings </h1>
  <p> If you're tired of the theme of our app's system ( not related to your UI library ) </p>

  <div class="internal-app-color-scheme">
    <div class="color-scheme-column" data-controller="color-picker" 
      data-color-picker-callback-url-value="">
      <h4> Abc </h4>
      <input name="header" type="text" data-coloris 
        data-action="color-picker#change" value="<%= @internal_app_color_scheme.header %>">
      <span> Header Text </span>
    </div>
  </div>
</div>