<div class="card" style="max-width: 24rem; width: 100%;">
  <%= image_tag "water.jpg", class: "card-image" %>
  <h5 class="card-title"> This is an example card </h5>
  <p class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mollis quis arcu et finibus. In ligula diam, tincidunt eget ipsum in, cursus fermentum leo.
  </p>
  <div class="card-footer">
    <%= link_to "Primary Button", "#", class: "primary-button" %>
  </div>
</div>