:root {
  --alert-padding: 10px 16px 10px 16px;
  --alert-border-radius: 8px;
  --alert-border-size: 2px;
  --alert-font-size: 20px;
}

.alert-success, .alert-warning {
  padding: var(--alert-padding);
  border-radius: var(--alert-border-radius);
  font-size: var(--alert-font-size);
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  position: fixed;
  top: 4rem;
  z-index: 1111;
  backdrop-filter: blur(10px);
  
  svg {
    width: 24px;
  }
}

.alert-success {
  border: var(--alert-border-size) var(--green) solid;
  svg {
    color: var(--green);
  }
}

.alert-warning {
  border: var(--alert-border-size) var(--red) solid;

  svg {
    color: var(--red);
  }
}