:root {
  --button-padding: 8px 12px 8px 12px;
  --button-border-radius: 8px;
  --button-font-size: 18px;
  --border-size: 2px;
  --button-hover-scale-size: 1.025;
}

/* Organization of UI library styling */

/* Shared styles: Start ( Put all styles that are shared to DRY up CSS code */
/* Also means whenever adding a new button class we need to include its styling here */

.primary-button, .secondary-button, .outline-button, .delete-button, .round-button, .dark-button, .icon-button {
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  transition: transform 250ms ease-in;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  svg {
    height: 20px;
    width: auto;
    color: inherit;
  }
}

/* Shared styles: End */


.primary-button {
  background-color: var(--primary);
  border: var(--border-size) solid var(--primary);
  border-radius: var(--button-border-radius);
  color: hsl(from var(--primary) h s calc(l + 40));
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--primary) h s calc(l - 40) / 0.5);
}

.primary-button:hover {
  transform: scale(var(--button-hover-scale-size));
}

.secondary-button {
  background-color: var(--secondary);
  border: var(--border-size) solid var(--secondary);
  border-radius: var(--button-border-radius);
  color: hsl(from var(--secondary) h s calc(l + 40));
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--secondary) h s calc(l - 40) / 0.5);

  svg {
    color: hsl(from var(--secondary) h s calc(l + 40));
  }
}

.secondary-button:hover {
  transform: scale(var(--button-hover-scale-size));
}

.outline-button {
  border: var(--border-size) solid var(--primary);
  border-radius: var(--button-border-radius);
  color: hsl(from var(--primary) h s l);
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--primary) h s calc(l - 40) / 0.5);
  transition: background-color 250ms ease-in;
}

.outline-button:hover {
  background-color: var(--primary);
  color: hsl(from var(--primary) h s calc(l + 40));
}

.delete-button {
  background-color: var(--red);
  border: var(--border-size) solid var(--red);
  border-radius: var(--button-border-radius);
  color: hsl(from var(--red) h s calc(l + 40));
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--primary) h s calc(l - 40) / 0.5);
  transition: background-color 250ms ease-in;
}

.delete-button:hover {
  background-color: hsl(from var(--red) h s calc(l + 10));
  border-color: hsl(from var(--red) h s calc(l + 10));
}

.round-button {
  background-color: var(--primary);
  border: var(--border-size) solid var(--primary);
  border-radius: 100px;
  color: hsl(from var(--primary) h s calc(l + 40));
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--primary) h s calc(l - 40) / 0.5);
}

.round-button:hover {
  transform: scale(var(--button-hover-scale-size));
}

.dark-button {
  background-color: hsl(from var(--black) h s calc(l - 10));
  border: var(--border-size) solid hsl(from var(--black) h s calc(l - 10));
  border-radius: var(--button-border-radius);
  color: hsl(from var(--black) h s calc(l + 80));
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--primary) h s calc(l - 40) / 0.5);
}