:root {
  --form-border-radius: 8px;

  --form-input-padding: 8px 10px 8px 10px;
  --form-input-border-radius: 8px;
  --form-input-border-size: 1.25px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;

  .title {
    color: var(--black);
    font-weight: 500;
    font-size: 30px;
  }

  .dual-fields {
    display: grid;
    grid-template-columns: auto auto;
    gap: 36px;
  }

  .field-container {
    display: flex;
    flex-direction: column;
    gap: 8px;

    label {
      font-size: 20px;
    }

    input {
      width: 100%;
      padding: var(--form-input-padding);
      border-radius: var(--form-input-border-radius);
      border: var(--form-input-border-size) solid var(--light-gray);
      font-size: 20px;
      box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--light-gray) h s calc(l - 40) / 0.5);
    }

    input:focus {
      outline: none;
      border: var(--form-input-border-size) solid var(--primary);
    }
  }
}