<div class="modal">
  <div class="header">
    <h4 class="title"> Modal title </h4>
    <a href="#" class="close">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </a>
  </div>
  <div class="body">
    <% if source_code_render %>
      <p> Put your modal content here </p>
    <% else %>
      <div class="modal-content-example"> 
        <%= image_tag "pretty-beach.jpg" %>
        <p> Put your modal content in here </p>
      </div>
    <% end %>
  </div>
</div>