
/* UI for AppUISettings page */

.switch-type-section {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

/* Manual select partial styling */

.internal-app-color-scheme {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 32px;

  .color-scheme-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    h4 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }

    svg {
      width: 24px;
    }

    .preview {
      height: 32px;
    }
  }
}

/* Auto gen color scheme styling */