/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
*/

/* Default reset CSS - Start */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}
  
/* Default reset CSS - End */

/* Apply brand colors to elements - start */

/* Commented out as it messes with the apps UI. Instead should be added to final build css */
/* h1, h2, h3, h4, h5, h6 {
  color: var(--black);
}

span, p {
  color: var(--dark-gray);
} */

/* Apply brand colors to elements - end */

.large-container {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0px auto 0px auto;
  padding: 64px 32px 64px 32px;
}

.large-container {
  h1 {
    font-size: 44px;
  }

  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .large-container {
    padding: 32px 40px 32px 40px;
  }
}

.internal-app-navbar {
  height: 4rem;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  border-bottom: 0.5px darkgray solid;
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) darkgray;
  display: flex;

  .navbar-content {
    height: 100%;
    max-width: 1400px;
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0px 32px 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 24px;
      text-decoration: none;
    }

    .ui-settings-link {
      width: 32px;
    }
  }
}