/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
*/

/* Default reset CSS - Start */

:root {
  --large-screen-size: 1400px;
  --medium-screen-size: 700px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}

a {
  text-decoration: none;
}
  
/* Default reset CSS - End */

/* Apply styling for internal app: Meaning our app's UI not related to the users UI library */

h1, h2, h3, h4, h5, h6 {
  color: var(--internal-app-header);
}

p, span, a, svg, label {
  color: var(--internal-app-text);
}

body {
  background-color: var(--internal-app-background);
}

.large-container {
  max-width: var(--large-screen-size);
  min-height: 100vh;
  margin: 0px auto 0px auto;
  padding: 64px 32px 64px 32px;
}

.large-container {
  h1 {
    font-size: 44px;
  }

  p {
    font-size: 24px;
  }
}

@media screen and (max-width: 992px) {
  .large-container {
    padding: 32px 40px 32px 40px;
  }
}

.download-css-section {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.internal-loading-ui {
  max-height: 300px;
  height: 100%;
  max-width: var(--medium-screen-size);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: 0px auto 0px auto;

  svg {
    width: 36px;
    animation: spin-animation 0.8s linear infinite;
  }
}

.download-css-button {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  background-color: hsl(from var(--internal-app-background) calc(h + 10) s calc(l + 20));
  transition: transform ease-in 0.5s;

  svg {
    width: 24px;
  }
}

.download-css-button:hover {
  transform: scale(1.025)
}

.internal-app-navbar {
  height: 4rem;
  background-color: hsl(from var(--internal-app-background) h s calc(l - 10));
  width: 100%;
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1000;
  box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset) var(--box-shadow-blur) hsl(from var(--internal-app-background) h s calc(l + 5));
  display: flex;

  .navbar-content {
    height: 100%;
    max-width: var(--large-screen-size);
    width: 100%;
    margin: 0px auto 0px auto;
    padding: 0px 32px 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      font-size: 24px;
    }

    .ui-library-name {
      font-size: 24px;
      margin-left: auto;
    }

    .export-link {
      width: 32px;
      margin-left: 32px;
    }
  }
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}


/* UI for AppUISettings page */

.switch-type-section {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

/* Manual select partial styling */

.internal-app-color-scheme {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 32px;

  .color-scheme-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    h4 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }

    .preview {
      height: 32px;
    }
  }
}

/* Auto gen color scheme styling */

.auto-gen-container {
  margin-top: 16px;

  .color-pallete-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
      font-size: 36px;
    }
  }
}

/* Form styling for UI library page and potentially other form pages */

.internal-form-container {
  max-width: 700px;
  width: 100%;
  min-height: 500px;
  padding: 64px 32px 64px 32px;
  border-radius: 8px;
  margin: 0px auto 0px auto;
  display: flex;
  justify-content: center;

  form {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .field-container {
      display: flex;
      flex-direction: column;
      gap: 14px;

      label {
        font-size: 24px;
      }

      input {
        font-size: 18px;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid black;
        width: 100%;
      }

      .submit {
        padding: 4px 6px 4px 6px;
        background-color: rgb(50, 50, 196);
        color: rgb(234, 234, 241);
        font-size: 20px;
        padding: 8px;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}