:root {
  --black: hsl(253, 69%, 5%);
  --dark-gray: hsl(268, 12%, 24%);
  --light-gray: hsl(258, 16%, 66%);
  --white: hsl(249, 33%, 96%);
  --red: hsl(0, 82%, 48%);
  --green: hsl(125, 68%, 40%);
  --primary: hsl(270, 50%, 54%);
  --secondary: hsl(211, 68%, 57%);
}