/* Apply styling for internal app: Meaning our app's UI not related to the users UI library */

h1, h2, h3, h4, h5, h6 {
  color: var(--internal-app-header);
}

p, span, a {
  color: var(--internal-app-text);
}

body {
  background-color: var(--internal-app-background);
}