.component-section {
  margin-top: 32px;
  
  h4 {
    font-size: 32px;
  }

  .preview {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;

  }

  /* Make previews position staticly*/
  .position-static {
    div {
      position: static;
      z-index: 1;
      display: flex;
      transform: none;
    }
  }

  .code {
    margin-top: 16px;
    position: relative;

    .copy-code {
      position: absolute;
      top: 8px;
      right: 16px;
      color: rgb(57, 57, 57);
      background-color: rgb(184, 184, 184);
      padding: 6px 10px 6px 10px;
      border-radius: 6px;
      transition: background-color 250ms ease-in;
      display: flex;
      align-items: center;
      gap: 4px;

      .icon {
        width: 16px;
        display: flex;
      }
    }

    .copy-code:hover {
      color: rgb(148, 148, 148);
      background-color: rgb(162, 179, 166);
    }
  }
}

.color-scheme-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 40px;

  h3 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }
  
  .color-scheme-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;

    .color-scheme-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
      
      span {
        font-size: 16px;
      }

      .color-preview {
        width: 90px;
        height: 90px;
      }

      [data-coloris] {
        width: 90px;  
      }
    }
  }

  .color-scheme-text-container {
    margin-bottom: 32px;
  }
}

.modal-content-example {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    color: var(--black);
    font-size: 20px;
  }

  img {
    max-width: 400px;
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

.large-container {
  .button-actions-container {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 32px;

    .color-scheme-button {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: hsl(from var(--internal-app-background) h s calc(l - 20));
      padding: 14px 20px 14px 20px;
      border-radius: 14px;
      font-size: 20px;
      transition: transform 0.5s ease-in-out;
      transition: background 1s ease-in-out;

      svg {
        width: 20px;
      }
    }

    .color-scheme-button:hover {
      transform: scale(1.025);
      background-color: hsl(from var(--internal-app-background) h s calc(l - 10))
    }
  }
}